/* Center the sentiment button container */
.button-container {
  display: flex;
  justify-content: center;  /* horizontal centering */
  margin-top: 20px;
}
.error-text {
  color: red;
}

.sentiment-chart-container {
 display: flex;
  flex-direction: column; /* stack title and chart */
  align-items: center;    /* center horizontally */
  margin: 20px 0 10px 0;
}

.sentiment-chart-wrapper {
  width: 400px;
  max-height: 300px; /* let the chart shrink if needed */  
}

.month-navigation {
 display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* spacing between buttons/text */
  margin-top: -10px;
  margin-bottom: 20px;
}

.month-navigation span {
  margin: 0 10px;
}

.no-tasks-text {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

.task-board-container {
  display: flex;

  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}

.member-bar-chart-container {
 display: flex;
 flex-direction: column; 
  justify-content: center;
  margin-top: 3px;
}

body {
  display: flex;
  justify-content: center; /* horizontal centering */
  margin: 0;
}

.dashboard-container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding-top:55px;
}


.instruction-text {
  text-align: center;
  font-size: 0.9rem;
  color: #555;   /* greyish */
  margin-top: 0px;
  margin-bottom: 15px;
  font-style: italic;
  margin-bottom: 7px;
}

.priority-button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.priority-button-wrapper button {
  padding: 8px 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.priority-button-wrapper button:hover {
  background-color: #125aa0;
}

.member-bar-chart-wrapper {
  width: 600px;      /* adjust as needed */
  max-height: 400px; /* prevents it from growing too tall */
  margin: 0 auto;    /* center it horizontally */
}





